body {
    background-color: rgb(167, 211, 211);
    font-family: Arial, sans-serif;
}
.heading{
    color: rgb(250, 252, 253);
    text-align: center;
    height: 50px;
    padding: 20px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cityinput{
    width: 400px;
    height: 30px;
    border-radius:20px;
    font-size: 15px;
    padding: 5px;
}
.searchbtn{
    height: 42px;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 12px;
}
.display{
    margin-top: 150px;
    align-items: center;
    text-align: center;
}
#cityname{
    font-size: 30px;
    color: rgb(33, 35, 36);
}
#temperature{
    font-size: 25px;
    color: rgb(25, 91, 124);
}
#humidity{
    font-size: 25px;
    color:rgb(25, 91, 124);
}
#description{
    font-size: 25px;
    color: rgb(25, 91, 124);
}
